.comBgWhite{
    width: 100%;
    background: #fff;
  }
  .officalModule3{
    height:520px;
    img {
      padding-top: 100px;
      float: left;
      width:353px;
    }
  }
  .officalModule3Div{
    position: relative;
    top: 150px;
    padding-left:5%;
    img {
      display: inline-block;
      width: 8px;
      padding-top: 6px;
      margin-right:8px;
    }
    h2{
      margin-top: -50px;
      font-size: 26px;
      color: #2b363d;
      position: absolute;
      top: -10px;
    }
    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      margin: 60px 0 20px;
    }
    ul{
      li{
        margin-left: -40px;
        list-style-type: none;
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 21px;
        letter-spacing: 0px;
        color: #3680f8;
        margin-bottom: 7px;
      }
    }
  }
  .officalModule4{
    background: #f7fafe;
    height:520px;
    img {
      padding-top: 100px;
      float: left;
      width:353px;
    }
  }
  .officalModule4Div{
    position: relative;
    top: 150px;
    float: left;
    img {
      display: inline-block;
      width: 8px;
      padding-top: 6px;
      margin-right:8px;
    }
    h2{
      font-size: 26px;
      color: #2b363d;
      position: absolute;
      top: -10px;
    }
    p {
      font-size: 14px;
      color: #688499;
      text-align: left;
      padding-top: 50px;
      margin-bottom: 20px;
    }
    ul{
      li{
        margin-left: -40px;
        list-style-type: none;
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 21px;
        letter-spacing: 0px;
        color: #3680f8;
        margin-bottom: 7px;
      }
    }
  }
