.div1Header {
    h2{
      margin: 0;
      padding: 80px 0 0 0;
      font-family: "Microsoft YaHei";
      font-size: 24px;
      text-align: center;
      color: #2c313a;
    }

    .div1HeaderImg{
      span{
        font-family: MicrosoftYaHei-Bold;
      	font-size: 24px;
      	font-weight: normal;
      	font-stretch: normal;
      	line-height: 14px;
      	letter-spacing: 1px;
      	color: #2b363d;
      }
    }

    .div1HeaderImg2{
      float: left;
      img{
        width: 445px;
        display: inline-block;
      }
    }
  }
  .wLeft{
    margin-bottom: 60px;
    text-align: center;
    .wLeftImg{
      width:445px;
    height:471px;
    }
  }
  .vision{
    img{
      width:60px;
      height:60px;
    }
    p{
      text-align: -webkit-match-parent;
    }
   
  }
