.Root{
    background: #ffffff;
    border-color: #e7e7e7;
    box-shadow: 0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -webkit-box-shadow: 0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    -moz-box-shadow: 0px 3px 12px 0px rgba(20, 27, 45, 0.08);
    .NavItem{
        margin-left: 20px;
        margin-right: 20px
    }
    .NavItem:hover{
        border-bottom: 3px solid #296de9;
        text-decoration: none;
        color: #353b47;
        font-weight: bold;
    }
    .navDropdown{ 
        background: none;
        position: relative;
        display: inline-block;
    }
    .navDropdown:hover .navDropdown-content{
        display: block;
    }
    .navDropdown-content{
        background: none;
        border: none;
        left:-44px;
        text-align:center;
    }
}
