.footerRoot{
    margin-top: 10px;
    background: #ffffff;
    border-color: #e7e7e7;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(20, 27, 45, 0.08);
    height: 50px;
    img{
        float: right;
    }
    a:hover {
        text-decoration:underline;
    }
}